    </head>

    <body>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let store of prods) { %>
                            <article class="card store-item">
                                <header class="card__header">
                                    <h1 class="store__title">
                                        <%= store.location %>
                                    </h1>
                                </header>
                                
                                <div class="card__actions">
                                    <a href="/stores/<%= store._id %>" >store._id dans ma req : <%= store._id %></a>
                                    <a href="/edit-store/<%= store._id %>?edit=true" class="btn">Edit</a>

                      
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No stores Found!</h1>
                        <% } %>
            </main>
